{{res.Client}}

    <p>You booked a reservation with hotel room {{res.Room_number}}. Your client intends on staying 
    for {{res.Nights_of_stay}} days starting from {{res.Starting_date}} and ending on {{res.Ending_date}}.. Please do well to check in 
    ontime. Your reservation client's name is {{res.First_name.capitalize}} {{res.Second_name.capitalize}} {{res.Last_name.capitalize}}</p>
    <br>
    
    <a href="/hotelxyz/update/">Update</a><br>
    <button onclick="/hotelxyz/update/"> Update </button>
